.sidebar {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
  }
  
  .sidebar > a:first-child {
    margin-left: 2.5vw;
    margin-top: 2.5vw;
    width: 10vmax;
    padding: 0;
  }
  .sidebar > a > img {
    width: 100%;
    box-shadow: 10px 10px 5px rgba(85, 83, 83, 0.336);
    border-radius: 1vw;
    transition: all 0.5s;
  }
  
  .sidebar > a > img:hover {
    filter: drop-shadow(0 0 10px tomato);
  }
  .sidebar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
    font: 200 1rem "Roboto";
    padding: 2rem;
    transition: all 0.5s;
  }
  .sidebar a:hover {
    color: tomato;
    transform: scale(1.1);
    /* transform: scale(1.020); */
  }
  
  .sidebar a > P {
    display: flex;
    align-items: center;
  }
  .sidebar a > p > svg {
    margin-right: 0.5rem;
  }
  
  .MuiTypography-root {
    background-color: #fff !important;
  }

  @media screen and (max-width: 600px) {
    .sidebar {
      padding: 2rem 0 2rem 5vmax;
      justify-content: center;
      align-items: center;
    }
    .sidebar > a:first-child {

      width: 12vmax;
    }
    .sidebar > a:first-child > img {
      margin: 2vmax;
      margin-left: -8vw;
    }
    .sidebar > a {
      width: 50%;
    }
    .sidebar a {
      padding: 1.3rem;
    }
    .sidebar a:hover {
      transform: scale(1.020);
    }
    /* .p-tag {
      font-size: 5rem;
    } */
  }